
<h1 class="text-3xl">
    Precio del servicio
</h1>
<hr class="my-2">

<section>
    <p class="mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi quas vitae soluta aliquid! Incidunt, veritatis minima officia nemo est ipsum adipisci rem doloribus excepturi itaque quae perferendis accusantium numquam sed!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi quas vitae soluta aliquid! Incidunt, veritatis minima officia nemo est ipsum adipisci rem doloribus excepturi itaque quae perferendis accusantium numquam sed!
    </p>
</section>